/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: rgb(241, 241, 241);
    background: linear-gradient(0deg, rgb(241, 241, 241) 83%, #00b6b6 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
    color: #000;
}

h2 {
    /* border-bottom: 1px solid #cc1; */
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
    padding: 10px;
}

.click{  /* button to view text */
    display: block;
    margin: 0px auto auto;
    width: 100%;
    box-shadow: 0 8px 20px 0px rgb(255, 255, 255);
    border: none;
    font-size: 1em;
    font-weight: bold;
    background-color: #2B3467;
    color: #fff;
    padding: 0.3em;
}

p {
    line-height: 1.6em;
    color: rgb(0, 0, 0);
    padding: 10px;
}
p span{
    font-weight: bold;
    font-size: 1.3em;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main__hero {
    min-height: 40vh;
    padding-top: 3em;
    text-align: center;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu{
    background-color: #2B3467;
}

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar__menu .menu__link:hover {
    background: #48fafa;
    color: rgb(0, 0, 0);
    transition: ease 0.3s all;
}

.navbar__menu .menu__link {
    background: #2B3467;
    color: #fff;
    transition: ease 0.3s all;
}

.menu__link.active-link {
    background: #23bedd;
    color: #fff;
    transition: ease 0.3s all;
}
/* Header Styles */
.page__header {
    background: #fff;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* Footer Styles */
.page__footer {
    background: #000000;
    padding: 3em;
    text-align: center;
}
.page__footer p{
    color: rgb(255, 255, 255);
    padding: 1em;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
 
.page__footer a{
    color: rgb(255, 255, 255);
    padding: 1em;
    margin: 10px;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

.coll{
    display: none;/* collapsible  */
}

#to-top{
    position: fixed; 
    bottom: 40px; 
    right: 40px; 
    z-index: 999;
    background-color: #2B3467; 
    color: white; 
    padding: 15px; 
    border: none;
    border-radius: 5px; 
    font-size: 16px;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: left; 
}
/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: #00f7f744;
    position: absolute;
    z-index: 1;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: #00f7f744;
    background: linear-gradient(0deg, #00575744 0%, #00f7f744 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: 5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: #00f7f744;
    background: linear-gradient(0deg, #007e7e44 0%, #00f7f744 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: #00f7f744;
    background: linear-gradient(0deg, #00696944 0%, #00f7f744 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: 5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, #e6e6e1 0%, #2bcaea 60%);
    border-radius: 1em;
    box-shadow: 0 0 10px 2px rgb(70, 70, 70);
}

section.active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

/* resposive layout */

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 1em 4rem 1em;
    }
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

@media only screen and (max-width: 30em){
    h1 {
        font-size: 4em;
        margin: 2em 1rem 1em;
    }

    h2 {
        font-size: 2em;
    }

    .navbar__menu li {
        display: block;
    }

    .navbar__menu ul {
        padding-left: 0;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 50em){
    .page__footer a{
        display: block;
    }
}
